.node {
  box-shadow: 1px 1px black;
}

.line {
  &:first-child {
    &:before {
      content: '\25BA';
      position: absolute;
      color: #888;
      font-size: 12px;
      top: -9px;
      left: -1px;
    }
  }
}
